
* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    font-family: Axiforma,Aileron,Avenir,HelveticaNeue,ProximaNova,SegoeUI,SFUIDisplay,sans-serif;
}

.body{
    background-color: white;
}

/* Common section for SideBar and Main */

.common-section{
    display: flex;
    max-width: 100vw;
    max-height: 93vh;
}

/* Main section style */

.main-section{
    width: 100%;
    height: 93vh;
    overflow-y: scroll;
}