
* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    font-family: Axiforma,Aileron,Avenir,HelveticaNeue,ProximaNova,SegoeUI,SFUIDisplay,sans-serif;
}

.body{
    background-color: white;
}


/* Header section style */

.header-section{
    display: flex;
    min-height: 3.3rem;
    max-width: 100vw;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    border-bottom: .07rem solid  rgb(197,210,217);
    border-left: 0.24rem solid rgb(0, 168, 244);
}

.header-section__home-link{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-section__home-link__home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-section__home-link__home__menu-size-img{
    margin-left: 1rem;
    padding: 0.7rem 0.3rem 0.3rem 0.3rem;
}

.header-section__home-link__home__menu-size-img__menu-img{
    max-height: 1.8rem;
    max-width: 1.8rem;
    cursor: pointer;
}

.header-section__home-link__home__homeImg{
    padding: .8rem .3rem .3rem .3rem;
}

.header-section__home-link__home__homeImg__clockify-img{
    max-height: 1.5rem;
    margin-left: .5rem;
    cursor: pointer;
}

.header-section__account{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-section__account__workspace{
    padding: .7rem 0rem;
}

.header-section__account__workspace__drop-down{
    min-height: 1.7rem;
    max-width: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .75rem;
    font-weight: 400;
    color: rgb(102,102,102);
    border: none;
    text-align: right;
    line-height: 1.5rem;
    cursor: pointer;
    margin: 0rem 1rem;
    outline: none;
}

.header-section__account__plan{
    padding: 0.7rem .3rem;
}

.header-section__account__plan__upgrade-btn{
    max-height: 1.7rem;
    min-width: 5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .75rem;
    font-weight: 400;
    background: none;
    color: rgb(0, 168, 244);
    border: 0.1rem solid rgb(0, 168, 244);
    border-radius: 0.2rem;
    line-height: 1.6rem;
    cursor: pointer;
    margin: 0rem 1rem;
}

.header-section__account__help{
    padding: .6rem .8rem;
    border-left: .07rem dotted rgb(197,210,217);
}

.header-section__account__help__query-img{
    margin: 0rem 0.3rem;
    cursor: pointer;
}

.header-section__account__notification{
    padding: .6rem .8rem;
    border-left: .07rem dotted rgb(197,210,217);
}

.header-section__account__notification__bell-img{
    margin: 0rem 0.3rem;
    cursor: pointer;
}

.header-section__account__profile{
    padding: 0rem 1rem;
    border-left: .07rem dotted rgb(197,210,217);
}

.header-section__account__profile__profile-img{
    width: 2.3rem; 
    height: 2.3rem; 
    border-radius: 50%;
    margin: 0rem .3rem;
    cursor: pointer;
}

/* Common section */

.common-section{
    display: flex;
    max-width: 100vw;
}

/* Sidebar section */

.sidebar-section{
    display: flex;
}

.sidebar-section__main-content{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    border-left: 0.24rem solid rgb(0, 168, 244);
    border-right: .07rem solid  rgb(197,210,217);
    height: 100vh;
}

.sidebar-section__main-content__option{
    display: flex;
    cursor: pointer;
    position: relative;
    background-color: white;
    align-items: center;
    min-height: 3.125rem;
    max-width: 12.5rem;
    text-transform: uppercase;
    padding: .5rem 0rem;
}

.sidebar-section__main-content__option::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: rgb(228,234,238);
    top: 0;
    left: 0;
    transition: all 0.2s;
}

.sidebar-section__main-content__option:hover:before{
    width: 100%;
}

.sidebar-section__main-content__option__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2rem;
    max-height: 2rem;
    margin: 0 0.35rem 0 1.14rem;
    z-index: 1;
}

.sidebar-section__main-content__option__icon__img{
    max-width: 3rem;
    max-height: 3rem;
}

.sidebar-section__main-content__option__context{
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 10rem;
    max-height: 2rem;
    z-index: 1;
}

.sidebar-section__main-content__option__context__txt{
    margin-right: 1.14rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
}

.sidebar-section__main-content__title{
    display: flex;
    background-color: white;
    height: 2.5rem;
    padding: 1.1rem 0rem .3125rem 1.5rem ;
    align-items: flex-end;
}

.sidebar-section__main-content__title__txt{
    color: #999;
    letter-spacing: 1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .78rem;
    font-weight: 400;
    line-height: 1.5;
}

.show-hidden{
    display: none;
}

.sidebar-context-hidden{
    width: 0rem;
    transform: translateX(-100%);
    transition: width 0.2s ease-in-out, transform 0.3s ease-in-out;
}

.sidebar-title-hidden{
    display: none;
}

.sidebar-icon-expand{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2rem;
    max-height: 2rem;
    margin: 0 1.14rem 0 1.14rem;
    z-index: 1;
}


/* Main section style */

.main-section{
    height: 100%;
    width: 100%;
}


 /* Time sheet section */

.time-tracker-section{
    display: flex;
    flex-direction: column;
    background-color: rgb(242,246,248);
    width: 100%;
    overflow-y: scroll;
}

.time-tracker-section__time-tracker-bar{
    display: flex;
    align-items: center;
    background-color: white;
    border: .07rem solid  rgb(197,210,217);
    margin: 2.5rem 1.2rem 0rem;
    padding: .7rem 0rem;
}

.time-tracker-section__time-tracker-bar__time-tracker-bar-field{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.time-tracker-section__time-tracker-bar__time-tracker-bar-field__description-field{
    display: flex;
    padding: 0rem .7rem;
    width: 100%;
}

.time-tracker-section__time-tracker-bar__time-tracker-bar-field__description-field__input {
    display: flex;
    width: 100%;
    max-height: 2.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    border: 0.07rem solid transparent;
    border-radius: 2px;
    transition: border-color 0.3s ease;
    padding: .7rem .5rem;
}

.time-tracker-section__time-tracker-bar__time-tracker-bar-field__description-field__input:focus {
    color: black;
    padding-left: .5rem;
    outline: none;
    border-color: rgb(197,210,217);
}

.time-tracker-section__time-tracker-bar:hover .time-tracker-section__time-tracker-bar__time-tracker-bar-field__description-field__input {
    border-color: rgb(197,210,217); 
}


.time-tracker-section__time-tracker-bar__time-tracker-bar-field__project{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
}

.time-tracker-section__time-tracker-bar__time-tracker-bar-field__project:hover .time-tracker-section__time-tracker-bar__time-tracker-bar-field__project__txt__add-txt {
    font-size: .9rem;
    font-weight: 450;
    color: #0275A8;
    text-decoration: underline;
}

.time-tracker-section__time-tracker-bar__time-tracker-bar-field__project__img{
    display: flex;
}

.time-tracker-section__time-tracker-bar__time-tracker-bar-field__project__img__add-img{
    max-width: 1.5rem;
    max-height: 1.5rem;
}

.time-tracker-section__time-tracker-bar__time-tracker-bar-field__project__txt{
    display: flex;
    margin-left: .5rem;
    padding-right: 1rem;
}

.time-tracker-section__time-tracker-bar__time-tracker-bar-field__project__txt__add-txt{
    font-size: .9rem;
    color: #03a9f4;
    font-weight: 450;
}

.time-tracker-section__time-tracker-bar__time-tracker-bar-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-tracker-section__time-tracker-bar__time-tracker-bar-button__tag-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2.5rem;
    padding: 0rem 1rem;
    border-left: .07rem dotted rgb(197,210,217);
    border-right: .07rem dotted rgb(197,210,217);
}

.time-tracker-section__time-tracker-bar__time-tracker-bar-button__tag-btn__img{
    cursor: pointer;
    max-width: 1.5rem;
    max-height: 1.5rem;
}

.time-tracker-section__time-tracker-bar__time-tracker-bar-button__bill-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2.5rem;
    padding: 0rem 1.2rem;
    border-right: .07rem dotted rgb(197,210,217);
}

.time-tracker-section__time-tracker-bar__time-tracker-bar-button__bill-btn__symbol{
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 400;
    color: rgb(197,210,217);
}

.billable{
    font-size: 1.4rem;
    font-weight: 400;
    color: #03a9f4;
}

.time-tracker-section__time-tracker-bar__time-tracker-bar-button__clock-btn{
    display: flex;
}

.time-tracker-section__time-tracker-bar__time-tracker-bar-button__clock-btn__clock{
    padding: 0rem 2rem;
    font-size: 1.2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

.time-tracker-section__time-tracker-bar__time-tracker-bar-button__trigger-btn{
    display: flex;
}

.time-tracker-section__time-tracker-bar__time-tracker-bar-button__trigger-btn__btn{
    cursor: pointer;
    color: #fefefe;
    min-height: 2.5rem;
    background-color: #03a9f4;
    border: 0.1rem solid #03a9f4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .9rem;
    font-weight: 400;
    border-radius: 0.2rem;
    line-height: 1.6rem;
    cursor: pointer;
    min-width: 6.5rem;
}

.time-tracker-section__time-tracker-bar__time-tracker-bar-button__mode{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 2rem;
    align-items: center;
}

.time-tracker-section__time-tracker-bar__time-tracker-bar-button__mode__auto-btn{
    display: flex;
    padding: 0rem .8rem;
}

.time-tracker-section__time-tracker-bar__time-tracker-bar-button__mode__auto-btn__img{
    cursor: pointer;
    max-width: 1rem;
    max-height: 1rem;
}

.time-tracker-section__time-tracker-bar__time-tracker-bar-button__mode__manual-btn{
    display: flex;
    padding: 0rem .8rem;
}

.time-tracker-section__time-tracker-bar__time-tracker-bar-button__mode__manual-btn__img{
    cursor: pointer;
    max-width: 1rem;
    max-height: 1rem;
}